<div class="title">
  <h1>Bienvenue sur mon site</h1>
  <p>Retrouvez ici l'ensemble de mon parcours et de mes réalisations</p>
</div>

<div class="présentation">
  <p>
    Issu d'une formation d'ingé spé informatique. je réalise des sites / app
    web. Pour en savoir plus sur mon parcours je vous met le lien de mon cv ici
    (lien vers la page CV)
  </p>
</div>

<div class="projets">
  <p>Voici la liste de mes projets</p>

  <div class="projet-1">
    <img src="" alt="photo1" />
    <h2>Site web de vente en ligne</h2>
    <p>
      Avec l'ambition d'agrandir notre présence sur de nombreux concours
      hippique, nous avons dév une solution de visionnage et de vente de photo
      en ligne. Elles sont maintenant visionnable depuis chez vous ! Une
      interface simple, et pratique vous permettra de naviguer et de choisir la
      ou les bonnes photo de vous et votre equidé En quelques clics, vous pouvez
      commander la photo qui vous correspond. n'attendez plus et faites un tour
      sur notre site !
    </p>
    <button class="btn">Photo-Shop</button>
  </div>

  <div class="projet-2">
    <img src="" alt="photo2" />
    <h2>Applicaton web de création de contenu</h2>
    <p>
      toujours en lien avec le premier site web, cette application est destinée
      aux administrateurs du site. L'app permet de gérer les données mises en
      ligne. On peut créer de nouveaux concours et y ajouter des photos !
    </p>
    <button class="btn">une démo ici !</button>
  </div>

  <div class="projet-3">
    <img src="" alt="photo3" />
    <h2>Applicaton web de gestion d'information</h2>
    <p>
      dans un cadre professionnel, j'ai ete ammené a réaliser une solution de
      gestion d'information. le but est de pouvoir centraliser les informations
      concernant differents clients. On y retrouve aussi la listes des
      interventions réalisées.(plus de details dans la page)
    </p>
    <button class="btn">
      une démo ici !(redirection vers une page avec une vidéo de présentation)
    </button>
  </div>
</div>
