<div class="container">
  <h1>Mes Projets</h1>

  <!-- Carte projet -->
  <a
    href="https://totommm5.github.io/Photoshop_Front/"
    class="project-card"
    target="_blank"
  >
    <div class="experience">
      <h2>PhotoShop</h2>
      <p>
        <strong
          >Bienvenue sur PhotoShop - La boutique en ligne de photos de concours
          hippiques.</strong
        >
        <br />
        Capturez l'instant magique de vos compétitions équestres. Sur PhotoShop,
        nous proposons une sélection unique de photos prises lors de concours
        hippiques, épreuves équestres et autres événements sportifs. Que vous
        soyez un cavalier, un propriétaire ou un passionné de chevaux, vous
        trouverez ici des clichés inoubliables de vos moments les plus précieux
        !
      </p>
    </div>
  </a>

  <!-- Carte projet -->
  <a href="https://exemple.com" class="project-card" target="_blank">
    <div class="experience">
      <h2>Module de chargement de données</h2>
      <p>Brève description du projet. Ce projet consiste à ...</p>
    </div>
  </a>

  <!-- Carte projet -->
  <a href="/GestionInterne" class="project-card" target="_blank">
    <div class="experience">
      <h2>Gestion Interne</h2>
      <p>
        <strong
          >Centralisez et sécurisez les données essentielles de vos clients dans
          une plateforme tout-en-un.</strong
        ><br />
        L'application web de gestion interne est conçue pour centraliser toutes
        les informations critiques relatives à vos clients, facilitant ainsi
        leur gestion au quotidien. De la collecte des emails et mots de passe à
        la gestion des configurations de serveurs et des interventions
        effectuées, cette application garantit une organisation optimale et une
        sécurité renforcée.
      </p>
    </div>
  </a>
</div>
